div {
	padding-bottom: 1px;
}

h1 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 6px;
	font-size: 36px;
	margin-bottom: 0;
	}

h2 {
	text-align: left;
}

h2 span {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #a4d5da;
	font-weight: 100;
	padding: 3px;
}

h3 {
	color: #737373;
	font-weight: 900;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

h3 span {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
}

h4 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 14px;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid lightgray;
}

a:hover {
	background-color: #dbf8fc;
}

#bio {
	text-align: left;
	letter-spacing: 1px;
	color: #737373;
}

#body {
	width: 70%;
	margin: auto;
}

#footer {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	color: #737373;
}

.sub {
	color: #737373;
	padding-left: 20px;
}

.link {
	text-decoration: none;
	border: none;
	color: #737373;
}

a.link:hover {
	color: #6fbac4;
	background-color: transparent;
}

img {
	width: 100%;
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    #body {
    	width: 90%;
    }
}
